.page {
  background-image: url('/background.png');
  min-height: 100vh;

  transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.dark-mode-page2 {
  background-image: url('/backgroundDark.jpg') !important;

  .container__imgLogo {
    filter: invert(1);
  }

  .backContainer {
    background: rgb(255, 21, 242);
    background: linear-gradient(
      90deg,
      rgba(255, 21, 242, 0.7567401961) 0%,
      rgba(126, 29, 253, 0.7567401961) 100%
    );
  }

  .title,
  .backButton {
    background: rgb(255, 21, 242);
    background: linear-gradient(
      90deg,
      rgba(255, 21, 242, 1) 0%,
      rgba(126, 29, 253, 1) 55%
    );
  }
}
.dark-mode-page {
  background-image: url(backgroundDark.jpg);

  .container__imgLogo {
    filter: invert(1);
  }
  .searchBar,
  .randomCharacter,
  .foundCharacterText,
  .tableCharacters th,
  .pagination {
    background: rgb(255, 21, 242);
    background: linear-gradient(
      90deg,
      rgba(255, 21, 242, 1) 0%,
      rgba(126, 29, 253, 1) 55%
    );
  }

  .stylePage {
    background: linear-gradient(266deg, $blue-aqua 0%, $green-olive 100%);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 850px;
  margin: 0 auto;

  &__imgLogo {
    height: 150px;

    @media screen and (max-width: 420px) {
      height: 105px;
      margin: 13px;
    }
  }

  @media screen and (max-width: 420px) {
    width: 100%;
    padding: 14px;
    gap: 26px;
  }

  @media screen and (max-width: 820px) {
    width: 100%;
    padding: 10px;
    gap: 23px;
  }
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(266deg, $blue-aqua 0%, $green-olive 100%);
  border-radius: 40px;
  height: 70px;
  width: 491.81px;
  border-bottom: 3px solid $black;

  @media screen and (max-width: 420px) {
    width: 100%;
  }
  &__buttonSearch {
    height: 55px;
    width: 60px;
    border: none;
    background: transparent;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    cursor: pointer;
    margin: 10px;

    &:hover {
      scale: 1.1;
    }
  }

  &__inputText {
    border: none;
    outline: none;
    height: 50px;
    flex: 1;
    border-radius: 40px;
    font-size: 1.5rem;
    padding: 10px;
    margin-left: 10px;

    @media screen and (max-width: 420px) {
      font-size: 1.2rem;
      height: initial;
    }
  }
}

.containerTableCount {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;

  @media screen and (max-width: 420px) {
    display: initial;
  }
}

.tableCharacters {
  box-shadow: 6px 12px 11px 5px #00000063;
  margin-bottom: 20px;
  background: $white-background;
  width: 100%;
  border-radius: 40px 0px 40px 40px;
  position: relative;

  @media screen and (max-width: 820px) {
    max-width: 100vw;
    overflow-x: scroll;
  }

  @media screen and (max-width: 420px) {
    max-width: 100vw;
    overflow-x: scroll;
    border-radius: 0px 0px 40px 40px;
  }

  table {
    width: 100%;
    padding: 15px;

    thead,
    tr {
      display: flex;
      justify-content: space-between;
      width: 100%;

      th,
      td {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    tbody {
      display: flex;
      overflow: auto;
      height: 400px;
      width: 100%;
      flex-direction: column;
    }
  }
  tr,
  td {
    padding-top: 10px;
    text-align: center;
    font-size: 1.1rem;
    min-width: 150px;
  }
  th {
    background: linear-gradient(266deg, $blue-aqua 0%, $green-olive 100%);
    border-radius: 15px;
    text-align: center;
    border-bottom: 2px solid $black;
    color: $white;
    font-weight: bold;
    font-size: 1.5rem;
  }
}

.iconCharacter {
  border-radius: 100%;
  border: 2px $black solid;
  width: 65px;
  height: 65px;
}
.page2 {
  background-image: url('/background.png');
  min-height: 100vh;
  transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);

  .stylePage {
    @media screen and (max-width: 420px) {
      bottom: 2%;
      position: absolute;
    }
    background: linear-gradient(266deg, $blue-aqua 0%, $green-olive 100%);
  }
}

.card {
  background: $white-background;
  //width: 100%;
  width: 821.36px;
  border-radius: 40px;
  padding: 40px;
  box-shadow: 6px 12px 11px 5px #00000063;
  display: flex;
  align-items: flex-start;
  gap: 40px;
  height: 500px;
  position: relative;

  @media screen and (max-width: 420px) {
    width: initial;
    flex-wrap: wrap;
    height: initial;
  }

  &__imgCharacter {
    box-shadow: 4px 5px 5px #0000004f;
    border-radius: 100%;
    height: 400px;
    min-width: 400px;
    overflow: hidden;

    img {
      object-fit: cover;
    }
    @media screen and (max-width: 420px) {
      height: 200px;
      min-width: 200px;
    }

    @media screen and (max-width: 420px) {
    }
  }

  &__content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media screen and (max-width: 420px) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}

.title {
  background: linear-gradient(266deg, $blue-aqua 0%, $green-olive 100%);
  border-radius: 25px;
  text-align: center;
  border-bottom: 2px solid $black;
  color: $white;
  font-weight: bold;
  padding: 10px;
  font-size: 1.8rem;
}
.foundCharacterText {
  background: linear-gradient(266deg, $blue-aqua 0%, $green-olive 100%);
  border-radius: 25px 0px 0px 0px;
  text-align: center;
  color: $white;
  font-weight: bold;
  padding: 10px;
  box-shadow: 6px 6px 11px 5px rgba(0, 0, 0, 0.3882352941);
  font-size: 1.2rem;

  @media screen and (max-width: 420px) {
    border-radius: 25px 25px 0px 0px;
  }
  @media screen and (max-width: 820px) {
    border-radius: 25px 25px 0px 0px;
  }
}
.header {
  margin-top: 35px;
}
.name {
  font-size: 2rem;
  font-weight: bold;
}

.status {
  display: flex;
  align-items: center;
  gap: 10px;

  &__name {
    font-size: 1.5rem;
  }
  &__icon {
    display: inline-block;
    height: 0.8rem;
    width: 0.8rem;
    background: $green;
    border-radius: 50%;
  }
}

.category {
  font-size: 1.2rem;
  margin-top: 30px;
  color: $gray;

  &__content {
    font-size: 1.2rem;
  }
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.genderIcon {
  width: 25px;
  height: 25px;
}
.backButton {
  background: linear-gradient(266deg, $blue-aqua 0%, $green-olive 100%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 30px;
  cursor: pointer;
  height: 30px;
  text-decoration: none;
  color: $white;

  @media screen and (max-width: 420px) {
    position: absolute;
  }
  :hover {
    color: $black;
  }
}
.nameLink {
  color: black;
}

.pagination {
  background: linear-gradient(266deg, $blue-aqua 0%, $green-olive 100%);
  padding: 4px 11px 4px 11px;
  border-bottom: 2px solid $black;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 6px 12px 11px 3px #72727263;
  gap: 30px;
}

.pageNumber {
  color: $white;
  font-size: 1.5rem;
}

.buttonPage {
  background: transparent;
  border: none;
  cursor: pointer;
  color: $white;
  font-size: 1rem;

  :hover {
    color: $black;
  }
}

.disabledButton {
  color: $gray;
  cursor: not-allowed;
  pointer-events: none;
}
.backContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background: linear-gradient(
    266deg,
    rgba(76, 182, 203, 0.7567401961) 0%,
    rgba(192, 223, 64, 0.7567401960784313) 100%
  );
  box-shadow: 0px 1px 8px 10px rgba(114, 114, 114, 0.3882352941);
  height: 580px;
  width: 940px;

  @media screen and (max-width: 420px) {
    width: initial;
    height: initial;
    background: transparent;
    box-shadow: none;
  }
}

.containerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @media screen and (max-width: 420px) {
    flex-wrap: wrap;
  }
}

.nextButtonCharacter {
  .material-symbols-outlined {
    font-size: 3rem;
  }
  @media screen and (max-width: 420px) {
    position: absolute;
    top: 450px;
    right: 6px;

    .material-symbols-outlined {
      color: $black;
    }
  }
}
.prevButtonCharacter {
  &:not(.disabledButton) {
    .material-symbols-outlined {
      color: $white;
    }
  }

  &:hover {
    .material-symbols-outlined {
      color: $black;
    }
  }
  .material-symbols-outlined {
    font-size: 3rem;
  }

  @media screen and (max-width: 420px) {
    position: absolute;
    top: 450px;
    left: 6px;

    &:not(.disabledButton) {
      .material-symbols-outlined {
        color: $black;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .toast-error {
    font-size: 14px !important;
  }
}
.errorImage {
  display: none;
  position: absolute;
  width: 436px;
  left: 238px;
  bottom: -48px;

  @media screen and (max-width: 420px) {
    width: 300px;
    left: 43px;
  }
}

.headerTable {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.stylePage {
  background: rgb(255, 21, 242);
  background: linear-gradient(
    90deg,
    rgba(255, 21, 242, 1) 0%,
    rgba(126, 29, 253, 1) 55%
  );
  border-radius: 100%;
  padding: 6px 7px 6px 7px;
  border: none;
  cursor: pointer;

  @media screen and (max-width: 420px) {
    bottom: 30px;
  }

  .material-symbols-outlined {
    color: $white;
    font-size: 1.7rem;
  }

  &:hover {
    scale: 1.1;
    .material-symbols-outlined {
      color: $white;
    }
  }
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.buttonsHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.randomCharacter {
  background: linear-gradient(266deg, $blue-aqua 0%, $green-olive 100%);
  border-radius: 100%;
  padding: 7.5px 15px 7.5px 15px;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  color: white;
  font-weight: bold;

  &:hover {
    scale: 1.1;
  }
}
.overlay {
  background-color: rgba(0, 0, 0, 0.662);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
