$green-olive: rgba(192, 223, 64, 1);
$blue-aqua: rgba(76, 182, 203, 1);
$black: black;
$white: white;
$white-background: rgba(255, 255, 255, 0.8);
$gray: rgb(158, 158, 158);
$green: rgb(85, 204, 68);
